body {
 margin: 0;
}

.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(206deg 100% 73%);
  margin-top: 0;
}
