body {
 margin: 0;
 background-color:  #efefef;
}

.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3778c2;
  margin-top: 0;
  height: 4rem;
}

.categories {
  color: #fff;
  font-size: 30px;
}

.body-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid black;
  margin: 2rem 1rem;
  height: 8rem;
  border-radius: 5px;
}

input[type = button], button {
  width: 10rem;
  height: 3rem;
  background-color: #5fb523;
  border: 1px solid white;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gift {
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color:  #989DA3;
}
