@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3778c2;
  margin-top: 0;
  height: 4rem;
}

.categories {
  color: #fff;
  font-size: 30px;
}

.body-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid black;
  margin: 2rem 1rem;
  height: 8rem;
  border-radius: 5px;
}

input[type=button],
button {
  width: 10rem;
  height: 3rem;
  background-color: #5fb523;
  border: 1px solid white;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gift {
  margin-left: 1rem;
  margin-right: 1rem;
}

.coupons {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #989da3;
}

img {
  width: 11rem;
  height: 8rem;
}

h2 {
  background-color: #3778c2;
  margin-top: 0;
  height: 4rem;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.new_user {
  background-color: #fff;
  border-top: 1px solid #989da3;
  border-bottom: 1px solid #989da3;
  padding: 1rem;
}

.field {
  margin-top: 0.5rem;
}

.input {
  border: none;
  height: 3rem;
  width: 100%;
  border-top: 1px solid #989da3;
  outline: none;
}

.password {
  margin-bottom: 1rem;
}

.input::placeholder {
  color: #989da3;
  font-size: 16px;
}

.actions > input {
  width: 10rem;
  height: 3rem;
  background-color: #5fb523;
  border: 1px solid white;
  font-size: 18px;
  color: #fff;
}

.links {
  font-size: 18px;
  color: #000;
  padding: 0.5rem
}
